# ignoring compilation artifacts
sensortag/.metadata/*
sensortag/sensortag_cc2650stk_stack/FlashROM/**/*.obj
sensortag/sensortag_cc2650stk_stack/FlashROM/**/*.out
sensortag/sensortag_cc2650stk_app/FlashROM/**/*.obj
sensortag/sensortag_cc2650stk_app/FlashROM/**/*.out
pipeline/**/*.pkl
pipeline/**/*.wav
pipeline/**/*.o
pipeline/build/**/*.o
pipeline/**/*.c
pipeline/**/*.so
